.main {
    background-color: aqua;
    // p {
    //     color: $primaryTextColor;}
        div {
            background-color: rgb(245, 241, 8);
            p {
            color: blue;}
        }
    }